@page
@model MyWorkModel
@{
    ViewData["Title"] = "My Work";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="container">
        <h1>My Work</h1>
        <hr size="5px">
        <br />
        <p>
            We at KhumaloCraft are extremely proud to have assembled a wide range of wonderful handcrafted goods from global craftsmen. Every artwork conveys a tale, showcases a distinct cultural background, and exhibits the artist's talent and enthusiasm. View our collection below to see the elegance and skill with which our artists have created their pieces.
        </p>
        <br />

        <section class="Gallery">
            <section class="Subheading">
                <h2>African Rope Bracelets</h2>
                <section class="picture-grid-item">
                    <a href="~/images/Rope-bracelets.jpg" data-lightbox="image-1" data-title="African Rope Bracelets R150.00"><img src="~/images/Rope-bracelets.jpg" width="270" height="270"></a>
                </section>
                <br>
                <p>African Rope Bracelets<br><br><b>R150.00</b></p>
            </section>

            <br />

            <section class="Gallery">
                <section class="Subheading">
                    <h2>African Beaded Cuff Bangle</h2>
                    <section class="picture-grid-item">
                        <a href="~/images/African Beaded Cuff Bangle.jpg" data-lightbox="image-1" data-title="African Beaded Cuff Bangle R100.00"><img src="~/images/African Beaded Cuff Bangle.jpg" width="270" height="270"></a>
                    </section>
                    <br>
                    <p>African Beaded Cuff Bangle<br><br><b>R100.00</b></p>
                </section>

                <br />

                <section class="Gallery">
                    <section class="Subheading">
                        <h2>African Zulu Collar Necklace for Women</h2>
                        <section class="picture-grid-item">
                            <a href="~/images/African Zulu Collar Necklace for Women.jpg" data-lightbox="image-1" data-title="African Zulu Collar Necklace for Women R240.00"><img src="~/images/African Zulu Collar Necklace for Women.jpg" width="270" height="270"></a>
                        </section>
                        <br>
                        <p>African Zulu Collar Necklace for Women<br><br><b>R240.00</b></p>

                        <br />
                    </section>
                    <br />

                    <section class="Gallery">
                        <section class="Subheading">
                            <h2>Beaded Butterfly Flower Pot</h2>
                            <section class="picture-grid-item">
                                <a href="~/images/Beaded Butterfly Flower Pot.jpeg" data-lightbox="image-1" data-title="Beaded Butterfly Flower Pot R90.00"><img src="~/images/Beaded Butterfly Flower Pot.jpeg" width="270" height="270"></a>
                            </section>
                            <br>
                            <p>Beaded Butterfly Flower Pot<br><br><b>R90.00</b></p>

                            <br />
                        </section>

                        <br />

                        <section class="Gallery">
                            <section class="Subheading">
                                <h2>Beaded Pop Art Artwork</h2>
                                <section class="picture-grid-item">
                                    <a href="~/images/Beaded Pop Art Artwork.jpg" data-lightbox="image-1" data-title="Beaded Pop Art Artwork R465.00"><img src="~/images/Beaded Pop Art Artwork.jpg" width="270" height="270"></a>
                                </section>
                                <br>
                                <p>Beaded Pop Art Artwork<br><br><b>R465.00</b></p>

                                <br />
                            </section>

                            <br />

                            <section class="Gallery">
                                <section class="Subheading">
                                    <h2>Beaded Cat Artwork</h2>
                                    <section class="picture-grid-item">
                                        <a href="~/images/Beaded Cat Artwork.jpeg" data-lightbox="image-1" data-title="Beaded Cat Artwork R295.00"><img src="~/images/Beaded Cat Artwork.jpeg" width="270" height="270"></a>
                                    </section>
                                    <br>
                                    <p>Beaded Cat Artwork<br><br><b>R295.00</b></p>

                                    <br />
                                </section>

                                <br />

                                <section class="Gallery">
                                    <section class="Subheading">
                                        <h2>African Jar Medium Unpainted</h2>
                                        <section class="picture-grid-item">
                                            <a href="~/images/african jar medium unpainted.jpg" data-lightbox="image-1" data-title="African Jar Medium Unpainted R230.00"><img src="~/images/african jar medium unpainted.jpg" width="270" height="270"></a>
                                        </section>
                                        <br>
                                        <p>African Jar Medium Unpainted<br><br><b>R230.00</b></p>

                                        <br />
                                    </section>

                                    <br />

                                    <section class="Gallery">
                                        <section class="Subheading">
                                            <h2>African Ceramic Pot</h2>
                                            <section class="picture-grid-item">
                                                <a href="~/images/African Ceramic Pot.jpg" data-lightbox="image-1" data-title="African Ceramic Pot R3,120.00"><img src="~/images/African Ceramic Pot.jpg" width="270" height="270"></a>
                                            </section>
                                            <br>
                                            <p>African Ceramic Pot<br><br><b>R3,120.00</b></p>

                                            <br />
                                        </section>

                                        <br />

                                        <section class="Gallery">
                                            <section class="Subheading">
                                                <h2>African Mud Clay Pot</h2>
                                                <section class="picture-grid-item">
                                                    <a href="~/images/African Mud Clay Pot.jpg" data-lightbox="image-1" data-title="African Mud Clay Pot R1,500.00"><img src="~/images/African Mud Clay Pot.jpg" width="270" height="270"></a>
                                                </section>
                                                <br>
                                                <p>African Mud Clay Pot<br><br><b>R1,500.00</b></p>

                                                <br />
                                            </section>

                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>

        <section id="footer">
            <hr>
            <div class="icons">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <p>
                    <a href="#" class="fa fa-phone"></a>&nbsp;&nbsp;
                    <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;
                    <a href="#" class="fa fa-whatsapp"></a>&nbsp;&nbsp;
                    <a href="#" class="fa fa-envelope"></a>&nbsp;&nbsp;
                </p>
                <p>© 2024 KhumaloCraft | All Rights Reserved | Developed By: Sandeep Hari</p>
            </div>

            <hr>
        </section>

    </div>
</body>

</html>
