/* Set base font size and custom font */
html {
    font-size: 16px;
    font-family: 'Homemade Apple', cursive; /* Custom font */
}

/* Media query for larger screens */
@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.container {

    width: 90%;
    max-width: 1200px; /* Adjust the max-width to your preference */
    margin: 8px auto; /* Center the container */
    padding: 0 15px; /* Add some padding to the sides */
    background-color: #F3C8A8; /* Add background color for visibility */
    border-radius: 8px;
    padding: 40px; /* Increased padding for better spacing */
    text-align: center;

}

.normal-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c80604; /* Red */
    color: #ffffff; /* White */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Homemade Apple', cursive; /* Custom font */
}

.normal-btn:hover {
    background-color: #d5310b; /* Darker shade of red */
    color: #fff; /* White */
}

.quantity-input {
    width: 60px;
    padding: 5px;
}

/* Navigation item styles */
.nav-item {
    font-size: 20px;
    color: #01a698; /* Dark cyan */
    text-decoration: none;
}

/* Navigation bar styles */
.navbar-nav {
    text-align: center;
}

    .navbar-nav .nav-item {
        display: inline-block;
        margin-right: 20px; /* Slightly increased margin for better spacing */
    }

    .navbar-nav .nav-link {
        margin-right: 30px;
        color: #01a698; /* Dark cyan */
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .navbar-nav .nav-link:hover {
            color: #f3c8a8; /* Light brown */
        }

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #EC582A;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 4vh 7%; /* Adjusted padding using viewport height (vh) */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

    header .logo {
        font-family: 'Homemade Apple', cursive; /* Custom font */
        font-size: 30px;
        color: #ffffff; /* White */
        text-decoration: none;
        margin-right: 30px; /* Adjusted margin for better spacing */
    }

/* Body styles */
body {
    background: url(../images/bg-2.png) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000; /* Black */
    font-size: 1rem; /* Reset font size for consistency */
    font-family: 'Homemade Apple', cursive; /* Custom font */
    padding-top: 130px; /* Increase padding to create space for the fixed header */
}

.product-id-cell {
    background-color: #ec582a;
    font-weight: bold;
    color: #f3c8a8;
}

/* Table styles */
table {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
}

th, td {
    padding: 12px; /* Increase padding for better spacing */
    text-align: center; /* Align text to the left */
    border: 1px solid #c80604; /* Red */
    font-size: 16px;
}

tr:nth-child(odd) {
    background-color: #e5aa97;
}

tr:nth-child(even) {
    background-color: #ed8b6d;
}

/* Style for table headers */
th {
    font-weight: bold;
    text-align: center; /* Center align text in headers */
    background-color: #ec582a;
}

/* Horizontal rule styles */
hr {
    color: black;
    border: none;
    border-top: 3px solid #000; /* Black */
}

/* Header 1 styles */
h1 {
    text-align: left; /* Align heading text to the left */
    color: #000; /* Black */
    font-family: 'Homemade Apple', cursive; /* Custom font */
}

h3 {
    text-align: left;
    color: #000; /* Black */
    font-family: 'Homemade Apple', cursive; /* Custom font */
}

/* Footer styles */
.footer {
    text-align: center; /* Align footer text to the center */
    color: #000; /* Black */
}

/* Social media icon styles */
.icons {
    text-align: center; /* Align icons to the center */
}

    .icons a {
        border: 1px solid #c80604; /* Red */
        border-radius: 50%;
        line-height: 36px;
        text-align: center;
        font-weight: 600;
        width: 38px;
        margin-right: 10px;
    }

.btn.btn-primary.btn-sm {
    background-color: #c80604; /* Red */
    border-color: #c80604; /* Red */
    color: #ffffff; /* White */
}
