@page
@model AboutUsModel
@{

    ViewData["Title"] = "About Us";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

        <h1> About Us </h1>
        <hr size="5px">
        <br />


        <h2>About KhumaloCraft</h2>

        <p>At KhumaloCraft, we think that the beauty of handcrafted goods can unite people from all over the world, bridging gaps in language and cultural divides. Our journey started with a straightforward but deep idea: to provide a venue for talented and skilled craftspeople from all backgrounds to present their work to an astute audience looking for authenticity and distinctiveness.</p>

        <h2>Our Story</h2>

        <p>
            James Khumalo, a creative businessman, founded KhumaloCraft because he deeply valued the artistry and skill that go into making handmade goods. James set out to create a place where the works of artisans could be showcased since he was passionate about encouraging them and keeping traditional workmanship alive.
        </p>

        <h2>Our Mission</h2>

        <p>
            Our goals at KhumaloCraft are to empower artists by giving them a worldwide platform to exhibit their creations and to provide clients with a carefully chosen assortment of superior handcrafted goods that arouse feelings and tell a tale. We want to build a creative, cooperative, cross-cultural community where craftspeople are valued as the keepers of innovation and tradition.
        </p>

        <h2>What sets us apart</h2>

        <p>
            KhumaloCraft is unique because of our steadfast dedication to ethical, high-quality, and authentic craftsmanship. We carefully select each product by hand, taking into account its workmanship, cultural relevance, and environmental sustainability. We collaborate directly with craftspeople worldwide. We guarantee that every purchase made on our platform has a beneficial effect that extends beyond the transaction by encouraging fair trade practices and aiding local communities.
        </p>

        <h2>Our Promise</h2>

        <p>
            When you purchase something from KhumaloCraft, you're investing in a work of art, a piece of history, and a piece of someone's life story. In all we do, we pledge to maintain the greatest standards of honesty, openness, and client pleasure. Experience the wonder of handmade craftsmanship by exploring our ever-growing collection, whether you're an experienced collector, a design enthusiast, or just looking for a special gift.
        </p>

        <h2>Join Us on Our Journey</h2>

        <p>
            As we continue to honor the inventiveness, creativity, and cultural diversity of craftsmen from all around the world, we cordially welcome you to go with us. One carefully created creation at a time, let's work together to bridge the gap between tradition and modernity, heritage and innovation.
        </p>

        <p>We are appreciative that you have selected KhumaloCraft, where every purchase has an impact.</p>

        <a href="/Products" class="normal-btn">Shop Now</a>
        
        <br />



        <section id="footer">

            <hr>

            <div class="icons">

                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                <P>
                    <a href="Tel: +27 83 123 4567 " class="fa fa-phone"></a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/supremejewelleryco/" class="fa fa-instagram"></a>&nbsp;&nbsp;
                    <a href="https://wa.me/27813413986" class="fa fa-whatsapp"></a>&nbsp;&nbsp;
                    <a href="mailto:SJ@gmail.com" class="fa fa-envelope"></a>&nbsp;&nbsp;
                </P>



                <P>© 2024 KhumaloCraft | All Rights Reserved | Developed By: Sandeep Hari </P>


            </div>

            <hr>

        </section>

    

</body>
</html>

