@page
@model KhumaloCraft2.Pages.AdminModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

        <h1>Product Management</h1>
        <hr>
       
        <div class="btn-container">
            <div>
                <a href="add-new-product" class="normal-btn">Add Product</a>
            </div>

            <div>
                <a href="admin-my-work" class="normal-btn">Edit/Delete Existing Products</a>
            </div>

            <div>
            <a href="admin-view-orders" class="normal-btn">View and Process Orders</a>
        </div>

        <!--<div>
            <a href="Upload" class="normal-btn">Upload Image</a>
        </div>-->

        </div>

        <footer id="footer">
            <hr>
            <div class="icons">
                <p>
                    <a href="tel:+27831234567" class="fa fa-phone"></a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/supremejewelleryco/" class="fa fa-instagram"></a>&nbsp;&nbsp;
                    <a href="https://wa.me/27813413986" class="fa fa-whatsapp"></a>&nbsp;&nbsp;
                    <a href="mailto:SJ@gmail.com" class="fa fa-envelope"></a>&nbsp;&nbsp;
                </p>
                <p>© 2024 KhumaloCraft | All Rights Reserved | Developed By: Sandeep Hari</p>
            </div>
            <hr>
        </footer>
</body>
</html>
