@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>

    

        <h1>Welcome to KhumaloCraft!</h1>
        <hr size="5px">

        <div class="img-container">

            <img src="~/images/KhumaloCraft Logo5.png" width="200" height="200" />
            <br />
            <br />

            <section class="main-content">

                <p>At KhumaloCraft, we celebrate the artistry, creativity, and cultural heritage of artisans from around the world. Step into our world of handcrafted wonders and discover a curated collection of exquisite products that tell a story, evoke emotion, and showcase the beauty of craftsmanship.</p>

                <h2>Explore Our Collection:</h2>
                <ul>
                    <li><strong>Jewelry:</strong> Adorn yourself with intricately crafted pieces that capture the essence of elegance and style.</li>
                    <li><strong>Home Decor:</strong> Transform your living spaces with artisanal accents that add warmth, charm, and character.</li>
                    <li><strong>Accessories:</strong> Elevate your wardrobe with unique accessories that reflect your individuality.</li>
                    <li><strong>Pottery and Ceramics:</strong> Bring artistry into everyday life with functional and decorative ceramics crafted by skilled hands.</li>
                    <li><strong>Textiles:</strong> Wrap yourself in the rich textures and vibrant colors of handwoven textiles that celebrate tradition and artistry.</li>
                </ul>

                <h2>Why Choose KhumaloCraft:</h2>
                <ul>
                    <li><strong>Authenticity:</strong> Every product in our collection is meticulously handcrafted by skilled artisans, ensuring authenticity and quality.</li>
                    <li><strong>Global Connection:</strong> By supporting KhumaloCraft, you're not just purchasing a product – you're connecting with artisans from diverse cultures and communities around the world.</li>
                    <li><strong>Impactful Shopping:</strong> Your purchase has a positive impact beyond the transaction, supporting local artisans, preserving traditional craftsmanship, and promoting sustainable practices.</li>
                </ul>

                <h2>Start Your Journey:</h2>
                <p>Experience the magic of handmade craftsmanship and embark on a journey of discovery with KhumaloCraft. Shop now and bring home a piece of artisanal beauty that inspires and delights.</p>

                <a href="/about-us" class="normal-btn">Learn More</a>
                <a href="/Products" class="normal-btn">Shop Now</a>

                <p> </p>

                <p>Thank you for choosing KhumaloCraft. Where every purchase tells a story and supports artisans worldwide.</p>

            </section>

        </div>

        <br />

        <section id="footer">

            <hr>

            <div class="icons">

                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                <p>
                    <a href="Tel: +27 83 123 4567 " class="fa fa-phone"></a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/supremejewelleryco/" class="fa fa-instagram"></a>&nbsp;&nbsp;
                    <a href="https://wa.me/27813413986" class="fa fa-whatsapp"></a>&nbsp;&nbsp;
                    <a href="mailto:SJ@gmail.com" class="fa fa-envelope"></a>&nbsp;&nbsp;
                </p>

                <p>© 2024 KhumaloCraft | All Rights Reserved | Developed By: Sandeep Hari </p>

            </div>

            <hr>

        </section>

    

</body>
</html>